<!DOCTYPE html>
	
<section class="main-section">
    <h1>About Me</h1>

        <%=link_to image_tag("IMG_NW_Bio.png", border: 0), {action: 'home', controller: 'pages'}%>

    <p>I play and teach the guitar. I also like to create. </p>
    <p>You can find my
        <a href="https://guitarlanguage.github.io/" target="_blank">Guitar Language Series</a> on youtube. Also, I enjoy playing hockey and hanging out with friends.</p>
    <p>
        <a href="https://cdn.patch.com/users/204114/2011/02/353fb0462ceba1727633ca360ca475b5.mp4" target="_blank">Back in 2010, I was the Illinois Barrel Jumping Champion.</a> In 2004, I played one season of junior hockey for the
        Columbus Stars. Originally drafted by Peoria, I was traded for a puck bag and a box of nabisco crackers.</p>
    <p> Alot of my physical endeavors have been on a six month hiatus due to injury. (I fell off my bicycle and fractured my
        elbow in June of 2017) I look forward to the challenge ahead with Northwestern's software development camp.</p>
</section>
	


