<header id="masthead">
    <div class="container">
        
        <%= link_to "Tom LaChance", {controller: :pages, action: :home }, id: "logo" %>
        <nav>
            <ul>
                
                <li><%= link_to "Home",   '/' %></li>
                <li><%= link_to "Portfolio",   '/portfolio' %></li>
                <li><%= link_to "Contact",   '/messages/new'  %></li>
                
 
            </ul>
        </nav>
    </div>
</header>