<header id="masthead">
    <div class="container">
        <a href="index.html" id="logo">Tom LaChance</a>
        <nav>
            <ul>
                
                <li><%= link_to "Home",   '/' %></li>
                <li><%= link_to "Portfolio",   'portfolio' %></li>
                
                <li>
                    <a href="contact.html" target="_blank">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>