<section class="sidebar">
    <div id="connect">
        <h2>Connect With Me</h2>

        <ul>
            <li>
                <a href="https://github.com/guitarlanguage" target="_blank">
                    
                    <%=link_to image_tag("if_github_square_black_107109.png", border: 0), "https://github.com/guitarlanguage"%>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/thomas-lachance-2287a917/" target="_blank">
                    
                    <%=link_to image_tag("if_linkedin_square_color_107091.png", border: 0), "https://www.linkedin.com/in/thomas-lachance-2287a917/"%>
                </a>
            </li>
            <li>
            
                <%=link_to image_tag("if_stackoverflow_334695.png", border: 0), {action: 'home', controller: 'pages'}%>
                    
                </a>
            </li>
        </ul>

    </div>
</section>